:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #f09103;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}



h1, h2, h3, h4, h5 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
h5 {
    font-size: 2rem;
}
img {
    max-width: 100%;
    border: var(--negro) 2px solid;
}
/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
.boton-arriba .fa-arrow-up {
    background-color: var(--gris);
}

/** Header **/
.webp .header {
    background-image: url(../img/banner.webp);
    
}
.no-webp .header {
    background-image: url(../img/banner.jpg);
    
}
.header {
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.header__texto {
   text-align: center;
   color: var(--blanco);
   margin-top: 5rem;
}
@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}

.barra {
    padding-top: 4rem;
    
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    color: var(--blanco);
    
    logo__nombre {
    font-weight: 400;
    }

    .logo__bold {
    font-weight: 700;
    }
}
@media (min-width: 768px) {
        .navegacion {
            display: flex;
            gap: 2rem;
            }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
        }
        
    
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
    }
.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}
.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--negro);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: var(--negro) 3px solid;
    
    
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}
.boton:hover {
    cursor: pointer;
    color: var(--gris);
    
}
.boton--primario {
    background-color: var(--primario);
    border-radius: 5px;
    transition: all 10s;
    }
.boton--secundario {
    background-color: var(--primario);
    border-radius: 6px;
    transition: all 4s;
}

.curso {
    list-style: none;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
    
}
.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}
.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.widget-curso__info {
    font-weight: normal;
}
.widget-curso__label,
.widget-curso__info {
    font-size: 2rem;
}

.footer {
    background-color: var(--primario);
    padding-bottom: 3rem;
    margin-top: 4rem;
    color: var(--negro);

    p{
    text-align: center;
    }
    
    
}
.redes a {
    text-align: center;
    color: var(--negro);
    font-size: 2rem;
    letter-spacing: 30px;
}

/** pagina Info**/
.siderbar {
    grid-area: inferior;

    h2 {
    text-align: center;
    text-decoration: underline;
    }
}

.contenido-principal {
    grid-area: contenido;
    display: grid;
    grid-template-areas: "entrada1 entrada2";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;

    h3{
    text-decoration: underline;
    }
}

    @media screen and(min-width:720px) {

        .layout-shifter {
            grid-template-areas: "contenido sidebar";
            column-gap: 2rem;
        }
        .siderbar {
            grid-area: sidebar;
        }

        .contenido-principal {

            grid-area: contenido;
            grid-template-areas:"entrada1"
                                "entrada2";

            grid-template-columns: unset;    
        }
}
/** Cursos **/
.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
    
}
@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}
.curso:last-of-type {
    border: none;
}
.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.curso__info {
    font-weight: normal;
}
.curso__label,
.curso__info {
    font-size: 2rem;
}

/** Contacto **/
.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.formulario {
    background-color: var(--blanco);
    margin: 2rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textarea {
    height: 20rem;
}


